
.modal-container
{
	background-color: var(--back-dark);

	.modal-body
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.modal-container-title
	{
		font-family: "Philosopher";
		font-weight: 800;
		color: var(--title);
	}

	.modal-container-border
	{
		border-color: var(--title);
	}

	.modal-container-buttons
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.modal-container-button
		{
			width: 50%;
			height: 40px;
			border-radius: 15px;
			background-color: var(--back-light);
			border: 2px solid var(--back-light);

			@media only screen and (any-hover: hover)
			{
				&:hover
				{
					cursor: pointer;

					background-color: var(--back-normal);
					border: 2px solid var(--back-normal);
				}
			}
			&:active
			{
				background-color: transparent;
				border: 2px solid var(--back-light);

				color: var(--title);
			}
		}
	}
}
