
.modalComponent-mark
{
	color: var(--title);
	font-weight: 600;
	background-color: transparent;
}

.modalComponent-title
{
	margin-top: 15px;
	font-family: "Philosopher";
	font-size: 1.5em;
	font-weight: 800;
	color: var(--title);
}

.modalComponent-space-left-1
{
	margin-left: 25px;
}

.modalComponent-space-left-2
{
	margin-left: 50px;
}

