
.page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0px;

	width: 100%;
	height: 100vh;
	max-height: 100vh;
	background-color: var(--back-dark);

	app-header
	{
		width: 100%;
	}

	.container
	{
		transform: scaleY(0);
		position: fixed;

		&.show
		{
			transform: scaleY(1);
			animation: show .3s ease-in-out;
			position: relative;
		}

		&.hidden
		{
			animation: hidden .3s ease-in-out;
			transform: scaleY(0);
			position: fixed;
		}

		@keyframes show
		{
			0% { transform: scaleX(0) scaleY(0) rotate(90deg); }
			100% { transform: scaleX(1) scaleY(1); }
		}

		@keyframes hidden
		{
			0% { transform: scaleX(1) scaleY(1); }
			100% { transform:  scaleX(0) scaleY(0); }
		}
	}

	main, .container
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		width: 100%;
	}

	app-footer, app-header, app-inputs, app-result
	{
		width: 100%;
	}
}
