
.container-inputs
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	overflow: hidden;

	width: 100%;

	.title
	{
		width: 50%;

		color: var(--title);
		font-family: "Philosopher";
		font-size: 3em;
		font-weight: 900;
		text-align: center;

		.divider
		{
			margin: 0px;
			padding: 0px;

			border-color: var(--back-light);
		}
	}

	.inputs
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 30px 30px 20px 35px;

		width: 35%;
		border: 1px solid var(--back-light);
		border-radius: 15px;

		.field
		{
			display: flex;
			flex-direction: column;
			gap: 10px;

			width: 100%;

			.title-field
			{
				font-weight: 800;
			}

			.input-field
			{
				padding: 0px 10px;

				height: 40px;

				background-color: transparent;
				border: 2px solid var(--back-light);
				border-radius: 15px;

				&:focus
				{
					outline-width: 2px;
					outline-color: var(--title);
					outline-style: solid;
					box-shadow: 0px 0px 12px var(--title);
				}

				&::placeholder
				{
					color: var(--back-light);
				}
			}

			.option
			{
				background-color: var(--back-dark);

				&::selection
				{
					color: var(--back-light);
				}

				&:disabled
				{
					color: var(--back-light);
				}
			}
		}

		.button
		{
			width: 50%;
			height: 40px;
			border-radius: 15px;
			background-color: var(--back-light);
			border: 2px solid var(--back-light);

			@media only screen and (any-hover: hover)
			{
				&:hover
				{
					cursor: pointer;

					background-color: var(--back-normal);
					border: 2px solid var(--back-normal);
				}
			}
			&:active
			{
				background-color: transparent;
				border: 2px solid var(--back-light);

				color: var(--title);
			}
		}
	}
}

@media only screen and (max-width: 1000px)
{
	.container-inputs
	{
		.title
		{
			font-size: 3em;
		}

		.inputs
		{
			width: 50%;
		}
	}
}


@media only screen and (max-width: 730px)
{
	.container-inputs
	{
		.title
		{
			width: 80%;
		}

		.inputs
		{
			width: 70%;
		}
	}
}

@media only screen and (max-width: 730px)
{
	.container-inputs
	{
		.inputs
		{
			width: 80%;
		}
	}
}


@media only screen and (max-width: 450px)
{
	.container-inputs
	{
		.title
		{
			font-size: 2.3em;
		}

		.inputs
		{
			width: 90%;

			.field
			{
				width: 100%;

				.input-field, .option
				{
					min-width: calc(100% - 22px);
					max-width: calc(100% - 22px);
					font-size: 0.9em;
				}


			}

			.button
			{
				width: 98%;
			}
		}
	}
}

@media only screen and (max-width: 370px)
{
	.container-inputs
	{
		.inputs { .field { .input-field, .option { font-size: 0.7em; }}}
	}
}
